@{
    ViewBag.Title = "About Us";
}

<h2>About...</h2>
<p>
   <img alt="coffeeBreak" src="../../Content/images/coffecup.png" class="left"/> 
   This site is for every one, who want to sell different things.
</p>
